body{
    background-color: #D4EFFB;
}

header ul {
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsl(201, 73%, 36%);
    position: fixed;
    width: 100%;
}

header ul li{
    float:left;
    justify-content: space-between;
    margin-right: 170px;
    /*width: 100%;*/
    
}
  
  header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:25px;
    justify-content: space-between;
  }
  
 header ul li a:hover:not(.active) {
    background-color: #A9D3F2;
  }
  
  .active {
    background-color: #418DB7;
  }

  .heading {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:70px;
    font-style: bold;
  }

  .para{
    color: #291C77;
    font-size:30px;
    margin: 10px;
  }
  .quotebox{
    display: grid;
    grid-template-columns: 1fr 1fr; /* This creates two columns */
    gap: 5px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
    padding-left:140px;
    padding-right:140px;
  }
  .quote{
    background-color: #A9D3F2;
    height:200;
    width:500;
    color:#290C57;
    font-size:30px;
    padding:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing:content-box;
  }

  .threebox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* This creates two columns */
    gap: 10px; 
  }
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
      /*display: block;*/
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color:  #A9D3F2;
  }
  .column h3{
    color: #290C57;
  }
  .points{
    border-spacing: 100px;
  }

  .list{
    color:#18287E;
    font-size:30px;
  }

  .lastbox{
    background-color: #1971A1;
    height:20%;
    width:97.5%;
    color:white;
    font-size:20px;
    padding-right:20px;
    padding-left: 20px;
    padding-top: 20px;
  } 

  .follow{
    font-size:20px;
  }
  .copyright{
    text-align: center;
  }
  
.ralign{
  position: absolute;
  right:30px;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin:5px 2px;
}

.fa-facebook {
  background: white;
  color: #1971A1;
  border-radius: 50%;
  padding: 2px;
}

.fa-facebook:hover{
  opacity: 0.7;
}

.fa-linkedin {
  background: white;
  color: #1971A1;
  padding: 2px;
}

.fa-linkedin:hover {
  opacity: 0.7;
}

.fa-youtube-play {
  background: #1971A1;
  color: white;
  padding: 0%;
}

.fa-youtube-play:hover {
  opacity: 0.7;
}

.fa-instagram {
  background:#1971A1;
  color: white;
  padding: 0%;
}

.fa-instagram:hover {
  opacity: 0.7;
}

.fa-phone{
  background:#1971A1;
  color: white;
}

.fa-envelope{
  background:#1971A1;
  color: white;
}

#contact{
  justify-content: flex;
  flex-direction: column;
}


